# Environments
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Data 
UCI_HAR_Dataset/

# Run artifacts
outputs/
!outputs/.gitkeep
plots/
checkpoints/

# OS / notebooks
.DS_Store
.ipynb_checkpoints/
